<!doctype html>
<html lang="pt-br">
    
    <head>
        <title> LOGIN USUÁRIO </title>
    </head>
    
    <body>
        <h1>LOGIN</h1>
        <form action="/login" method="post">
            <input type="text" name="usuario">
            <input type="password" name="senhausuario">
            <input type="submit" name="enviar" value="Login">
            <br>
            <input type="checkbox" name="lembrarusuario"> Lembrar usuário

        </form> 
        
    </body>
</html>